@import "mixin";
@import "variables";
@import "grid";



.header{
    @include wm;
    background-color: $bgcolor;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h2{
        text-align: right;
        font-size: 64px;

    }

    .article{
        display: flex;
        width: 100%;
    }
    img{
        position: relative;
        display: block;
        width: 80px;
        height: auto;
        margin: 0 50px;
        }

        .text{          
            position: absolute;
            text-align: right;
            width:100%;
            top: 50%;
            right: 15%;
            p{
                font-size: 36px;
                line-height: 54px;
                color: #650300;
            }
            h2{
                font-size: 64px;
                line-height: 96px;
                color: #650300;
            }
            .btn-buy{
                display: inline-block;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                padding: 6px 12px;
                background-color: #AA0601;
            }
    }

    ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: $white;
        font-size: 20px;
        line-height: 30px;
        align-items: center;

        
        li{
            width: 100px;
            margin-right: 32px;
        }

        a{
            color: #fff;
            text-decoration: none;
        }

        a:hover{
            color: rgb(255, 255, 255);
            font-weight: 700;
            text-decoration: underline $TextUnderLine_1 5px;
        }
        }
        
        
    }

    
