</html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="article">
      <img src="./assets/images/logo-white.png" alt="logo">
    <div class="text">
      <p>Promise-Desert 2020 早春系列</p>
      <h2>看得清，才能看得遠</h2>
      <div class="btn-buy">立即購買</div>
    </div>
    </div>
    
    
    <ul>
      <li><a href="#系列鏡框">系列鏡框</a></li>
      <li><a href="#門市據點">門市據點</a> </li>
      <li><a href="#部落格">部落格</a></li>
      <li><a href="#常見問題">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <article class="main">
      <section class="left">
        <ul>
          <li><a href="#首頁">首頁</a> </li>
          <li><a href="#系列鏡框">系列鏡框</a></li>
          <li><a href="#門市據點">門市據點</a></li>
          <li><a href="#部落格">部落格</a></li>
          <li><a href="#常見問題">常見問題</a></li>
        </ul>
        <a href="tel:+88680000000">0800-000-00</a>
        <a href="mailto:glasses@business.com">glasses@business.com</a>
      </section>
      
      <section class="right">
        <ul>
          <li><a href="#facebook"><img src="./assets/images/ic-social-fb.png" alt=""></a></li>
          <li><a href="#ig"><img src="./assets/images/ic_social_ig.png" alt=""></a></li>
          <li><a href="#line"><img src="./assets/images/ic_social_line.png" alt=""></a></li>
        </ul>
      </section>
    </article>

    <article class="bottom">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <section>
        <p>隱私權政策</p>
      <p>服務條款</p>
      </section>
    </article>

  </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>
