img{
    display: block;
}

h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color: #650300;
}

h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #650300;
    text-align: center;
}

.container{
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    margin: 0 auto;
}