@import "mixin";
@import "reset";
@import "base";
@import "./layout/header-p2";
@import "./layout/footer";
@import "grid";

/*header*/
header{
  nav{
    ul{
      display: flex;
      justify-content: center;    
    }
  
    li{
      width: 33.33%;
      a{
        display: block;
        padding: 24px;
        text-decoration: none;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #000;
        border: 1px solid #DCDCDC;
      }
    }
  }
  
  .p2_banner{
    display: flex;
    img{
      width: 50%;
    }
  }
}

/*產品*/
.container{
  margin: 90px auto 0 auto;
  width: 70%;
  h2{
    color: #000000;
    text-align: center;
    margin-bottom: 32px;
    span{
      font-size: 32px;
      line-height: 48px;
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li{
    margin: 0 12px 80px 12px;
      img{
        width: 306px;
      }
   
    .txt{
      display: flex;
      justify-content: space-between;
      p{
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
      }
      .price{
        color: #AA0601;
      }
    }
    .color{
      display: flex;
      div{
        width: 24px;
        height: 24px;
        margin: 0 4px;
      }
      .deep_brown{
        background-color: #5F3E2D;
      }
      .light_brown{
        background-color: #B75929;
      }
    }
  }
  }
  
  .page{
    margin-bottom: 80px;
    ul{
      display: flex;
      justify-content: center;
    }
    
    li{
      text-decoration: none;
      border: 1px solid #555555;
      margin: 0;

      a{
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 18px;
        line-height: 27px;
        color: #555555;
        &:hover{
          background: #000;
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }
    .pre,.next{
      background-color: #F2F2F2;

      &:hover{
        background-color: #555555;
      }
    }
  }


